body
	background-color black
	font-size 16px
ol
	li
		display inline-block
		width 14%
		margin 1%
		text-align center
		font-family 'Open Sans'
		border-radius .5em
		background-color #d51e2d
		color white
		img
			max-width 100%
		h2
			font-size 1.2em
		i
			font-size .7em !important
			color #fbae26
h1
	color white
	text-align center
	font-family 'Open Sans'